{% extends 'base.html' %}
{% block content %}

{% if object %}
    <h1>Edit <span class="red-text">{{ object.name }}</span></h1>
{% else %}
    <h1>Add a Workout</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}

    <table>
        {{ form.as_table }}
    </table>

    <div class="actn-btns">
        <button type="submit" class="btn-floating btn-large waves-effect waves-light light-blue">
            <a><i class="material-icons">check</i></a>
        </button>
        <button class="btn-floating btn-large waves-effect waves-light red">
            <a href="{% url 'index'}">
                <i class="material-icons">clear</i>
            </a>
        </button>
    </div>

</form>

{% endblock %}