{% extends 'base.html' %}
{% block content %}

<h1>{{ workout.name }}</h1>

<table>
    <tbody>
        <tr>
            <td>Type</td>
            <td>{{ workout.workout_type }}</td>
        </tr>
        <tr>
            <td>Length</td>
            <td>{{ workout.workout_length }}</td>
        </tr>
        <tr>
            <td>Calories Burned</td>
            <td>{{ workout.calories_burned }}</td>
          </tr>
        <tr>
            <td>Description</td>
            <td>{{ workout.description }}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ workout.date }}</td>
        </tr>
    </tbody>
</table>

<div class="action-btns">
    <a class="col btn-floating btn-large cyan" href="{% url 'workout_update' workout.id %}"><i class="material-icons">edit</i></a>
    <a class="col btn-floating btn-large red" href="{% url 'workout_delete' workout.id %}"><i class="material-icons">delete</i></a>
    <a class="col btn-floating btn-large green" href="{% url 'index' %}"><i class="material-icons">arrow_back</i></a>
</div>


{% endblock %}