{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for W in workout %}
    {% if W.user == request.user %}
    <div class="card">
        <div class="card-content cardcontent">
            <div id="username">{{ W.user }}</div>
            <p id="date">{{ W.date}}</p>
            <span class="card-title" id="full-length">{{ W.user }} completed a {{ W.workout_type }}!</span>
            {% if W.workout_type == 'run' %}
            <span id="emojis" style='font-size:30px;'>&#127939;&#127939;&#127939;&#127939;&#127939;</span>
            {% elif W.workout_type == 'ride' %}
            <span id="emojis" style='font-size:30px;'>&#128692;&#128692;&#128692;&#128692;&#128692;</span>
            {% elif W.workout_type == 'walk' %}
            <span id="emojis" style='font-size:30px;'>&#128694;&#128694;&#128694;&#128694;&#128694;</span>
            {% elif W.workout_type == 'hike' %}
            <span id="emojis" style='font-size:30px;'>&#129406;&#129406;&#129406;&#129406;&#129406;</span>
            {% elif W.workout_type == 'canoe' %}
            <span id="emojis" style='font-size:30px;'>&#128758;&#128758;&#128758;&#128758;&#128758;</span>
            {% elif W.workout_type == 'weight training' %}
            <span id="emojis" style='font-size:30px;'>&#127947;&#127947;&#127947;&#127947;&#127947;</span>
            {% elif W.workout_type == 'swim' %}
            <span id="emojis" style='font-size:30px;'>&#127946;&#127946;&#127946;&#127946;&#127946;</span>
            {% elif W.workout_type == 'cross-fit' %}
            <span id="emojis" style='font-size:30px;'>&#127947;&#127947;&#127947;&#127947;&#127947;</span>
            {% elif W.workout_type == 'stairs-stepper' %}
            <span id="emojis" style='font-size:30px;'>&#129692;&#129692;&#129692;&#129692;&#129692;</span>
            {% elif W.workout_type == 'elliptical' %}
            <span id="emojis" style='font-size:30px;'>&#128692;&#128692;&#128692;&#128692;&#128692;</span>
            {% else %}
            <span id="emojis" style='font-size:30px;'>&#128170;&#128170;&#128170;&#128170;&#128170;</span>
            {% endif %}
            <p id="workout-length">Workout length: {{ W.workout_length }}</p>
        </div>
        <a class="detail-link" href="{% url 'detail' W.id %}">
            <div id="details-button"><i class="fas fa-bars"></i>&nbsp;&nbsp;See more details</div>
        </a>
    </div>
    {% endif %}
{% endfor %}

{% if user.is_authenticated %}
    <footer class="center">
        <a href="{% url 'create' %}" class="waves-effect waves-light btn-large pink lighten-3">Add Workout</a>
    </footer>
{% else %}
    <footer class="page-footer cyan accent-3">
        <div class="center">All Rights Reserved, &copy; 2021 Fitiva &nbsp;</div>
    </footer>
{% endif %}


{% endblock %}